/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  
  /* Header */
  header {
    background-color: #111;
    padding: 10px 0;
  }
  
  nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: white;
    font-size: 1.8rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
    /* border:; */
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  
  /* Hero Section */
  .hero {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
  }
  
  .hero-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .hero h1 {
    font-size: 3.5rem;
    font-weight: 0;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.9rem;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  .hero input{
    padding-right: 70PX;
    padding-top: 12PX;
    padding-bottom: 12PX;
    padding-left: 15PX;
    /* background: rgb(122, 117, 117);
    border: white;
    color: white; */
  }
  .cta-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  /* Footer */
  footer {
    background-color: #111;
    text-align: center;
    padding: 10px 0;
    color: white;
  }
  